@import '../../scss/variables.scss';

.BasketPage_container {
    background-image: url(../../images/shop_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    min-height: 90vh;

    li {
        list-style-type: decimal;
    }

    .BasketPrise_cont {
        min-width: 100%;
        height: max-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &__title {
            @include fontSettings($mainFont, 25px, 700);
            line-height: 28px;
            text-align: center;
        }
    }

    .basket_price {
        font-weight: 900;
        font-family: monospace;
        font-style: italic;
        color: brown;
    }

    .btn_basket {
        padding: 15px 15px;
        background-color: $mainColor;
        border: 2px solid $mainColor;
        border-radius: 10px;
        font-size: 20px;
        transition: 0.4s;
    }

    .btn_basket:hover {
        background-color: $mainColorDarken;
        transition: 0.4s;
        border: 2px solid $mainColor;
    }

    .Allprice {
        font-weight: 100;
        font-family: monospace;
        font-size: 20px;
        text-decoration: line-through;
        font-style: italic;
        color: brown;
    }
    @media(max-width: 1200px) {
        .BasketPage_container{
            padding: 0px;
        }
        
    }
    @media(max-width: 767px) {
        .Card_Container{
            width: 60%;
        }
        
    }
    @media(max-width: 512px) {
        .Card_Container{
            
            width: 100%;
        }
        li {
            list-style-type: none;
        }
        .Allprice{
            display: flex;
        }
        
    }
}