@import '../../scss/variables.scss';
.BasketPage_container{
    background-image: url(../../images/shop_bg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 20px;
    li{
        list-style-type: decimal;
    }
    .BasketPrise_cont{
        min-width:100%;
        height:max-content;
        background-color:$mainColor;
    }
    .Card_Container{
        background-color:whitesmoke;
        border-right: 3px solid black;
    }
    .basket_price{
        font-weight: 900;
        font-family: monospace;
        font-style: italic;
        color: brown;
    }
    .btn_basket{
        padding: 15px 15px;
        background-color: $mainColorDarken;
        border:2px solid $mainColor;
        border-radius: 10px;
        font-size: 20px;
        transition: 0.4s;
    }
    .btn_basket:hover{
        background-color: $mainColor;
        transition: 0.4s;
        border:2px solid $mainColorDarken;
    }
    .Allprice{
        font-weight: 100;
        font-family: monospace;
        font-size: 20px;
        text-decoration: line-through;
        font-style: italic;
        color: brown;
    }
}