@import "../../scss/variables.scss";

.BasketCard_container {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    .basket_btn {
        background-color: $mainColor;
        margin: 5px;
        padding: 4px 9px;
        width: max-content;
        border-radius: 5px;
        transition: 0.3s;
    }

    .basket_btn:hover {
        background-color: $mainColorDarken;
        transition: 0.3s;
        color: black;
    }

    .close-btn {
        position: relative;
        top: -10px;
        right: -10px;
        width: 40px;
        height: 40px;
        transition: 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 0 0 5px;

        &:hover {
            color: black;
            background-color: rgba(255, 0, 0, 0.4);
        }
    }

    .price {
        color: brown;
        font-family: monospace;
        font-weight: 900;
        font-style: italic;
    }
}