@import "../../scss/variables.scss";

.BasketCard_container {
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    position: relative;

    .basket_btn {
        background-color: $mainColor;
        margin: 5px;
        padding: 4px 9px;
        width: max-content;
        border-radius: 5px;
        transition: 0.3s;
    }

    .basket_btn:hover {
        background-color: $mainColorDarken;
        transition: 0.3s;
        color: black;
    }

    .close-btn {
        position: relative;
        top: -10px;
        right: -10px;
        width: 40px;
        height: 40px;
        transition: 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 0 0 5px;

        &:hover {
            color: black;
            background-color: rgba(255, 0, 0, 0.4);
        }
    }
    .Current_Arrow{
        font-size: 20px;
        cursor: pointer;
        transition: 0.4s;
    }
    .Current_Arrow:hover{
        color: $mainColor;
        transition: 0.4s;
    }
    .Current_Num{
        font-size: 20px;
    }
    
    .price {
        color: brown;
        font-family: monospace;
        font-weight: 900;
        font-style: italic;
    }
    .btn_group_basket{
        display: flex;
        justify-content: end;
    }
    .imageCard{
        width: 100%;
        height: 100%;
    }
    .textModel{
        font-size: 22px;
    }
    .block_info{
        display: flex;
        justify-content: space-between;
    }
    @media(max-width: 1200px) {
        .btn_group_basket{
            display: block;
        }
        .price {
            font-weight: 200;
            padding-right: 20px;
        }
        
    }
    @media(max-width: 435px) {
        .imageCard{
            width: 100%;
        }
        .block_info{
            display: block;
        }
    }
    @media(max-width:314px) {
        .price {
            padding-right: 0px;
        }
        .basket_btn {
            margin: 1px;
            padding: 1px;
        }
    }
}