@import "../../scss/variables.scss";
.oneOrder_container{
    overflow: hidden;
    // цей колір відштовхується від основного кольору 
    background-color: mix(rgba(255, 255, 255, 0), $mainColor, 85%);
    margin: 0px;
    margin-top: 6px;
    padding: 8px;
    border-radius:10px;
    border: 2px solid black;
    .num_order{
        font-weight: 900;
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        font-style: italic;
    }
    .username{
        font-family: Arial, Helvetica, sans-serif;
    }
    .date_order{
        font-weight: 900;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }
    .orderFull{
        border-top:2px solid black ;
        margin-top: 10px;
        padding-top: 5px;
        .text_Discount{
            color: brown;
            font-style: italic;
            font-size: 15px;
        }
        .text_Price{
            color: brown;
            font-size: 20px;
            font-weight: 900;

        }
    }
}

.ajs-button .ajs-ok {
    color: red;
    background-color: red;
}