@import '../../scss/variables';

.blog {
    background-image: url("../../images/shop_bg.png");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);
    overflow-x: hidden;

    @media (max-width: 575px) {
        padding-top: 0 !important;
    }

    &__container {
        background-color: rgba(255, 255, 255, 0.7);
    }

    &__container {
        @media (max-width: 768px) {
            padding-left: 30px !important;
            padding-right: 30px !important;
        }

        @media (max-width: 425px) {
            padding-left: 10px !important;
            padding-right: 10px !important;
        }
    }
}