@import '../../scss/variables.scss';

.contact>.col-6 {
    padding-left: 0;
    padding-right: 0;
}

.contact.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.contact {
    width: 100%;
    @include fontSettings($mainFont, 25px, 400);
    line-height: 28px;

    .map-container.col-sm-12,
    .map-container.col-md-6 {
        padding-left: 0;
        padding-right: 0;
    }

    @media (max-width: 768px) {
        .map-container {
            height: 500px;
        }
    }

    .right-part {
        position: relative;
        background-color: black;

        .bi {
            margin-right: 10px;
        }

        .bgVideo {
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        .content {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            padding: 50px 50px 0 50px;
            color: black;

            @media (max-width: 400px) {
                padding: 25px 25px 0 25px;

                @media (max-width: 350px) {
                    padding: 10px 10px 0 10px;
                }
            }

            .title {
                @include fontSettings($mainFont, 35px, 700);
                line-height: 33px;
                color: white;
            }

            .dev-item {
                width: 310px;
                margin-top: 50px;
                background-color: rgb(255, 255, 255, 1);
                padding: 10px;
                border-radius: 10px;
                opacity: 0.7;
                transition: 0.3s all;

                @media (max-width: 400px) {
                    width: 100%;
                }

                &:hover {
                    opacity: 1;
                    box-shadow: 0 0 10px 5px $mainColor;
                }

                .btn-cont {
                    padding-top: 30px;
                    @media (max-width: 400px) {
                        padding-top: 15px;
                    }
                }

                .github-btn {
                    background-color: #161b22;
                    color: white;
                    transition: 0.3s;

                    margin-right: 70px;
                    @media (max-width: 400px) {
                        margin-right: 10px;
                    }

                    &:hover {
                        color: $mainColor;
                    }
                }

                .linckedin-btn {
                    background-color: #0a66c2;
                    color: white;
                    transition: 0.3s;

                    &:hover {
                        color: $mainColor;
                    }
                }
            }
        }
    }

}