@import '../../scss/variables';


.moto-shop {
    background-image: url("../../images/shop_bg.png");
    background-size: contain;
    background-color: rgba(0, 0, 0, 0.7);

    &__container {
        background-color: white;
    }

    &__controlsWrap {
        background-color: $mainColor2;
        border-radius: 10px;

        .controlsWrap-title {
            color: $mainColor;
            @include fontSettings($mainFont, 24px, 600);
            line-height: 29px;
        }
    }

    &__supControls {
        position: relative;

        &::before {
            content: '';
            width: 98%;
            height: 3px;
            border-radius: 10px;
            background-color: black;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}