@import '../../scss/variables';


.moto-shop {
    background-image: url("../../images/shop_bg.png");
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.7);

    @media (max-width: 768px) {
        padding-top: 0 !important;
    }

    &__container {
        background-color: white;

        @media (max-width: 768px) {
            background-color: rgba(255, 255, 255, 0.3);
            padding: 0;
        }
    }

    &__controlsWrap {
        background-color: $mainColor2;
        border-radius: 10px;

        .controlsWrap-title {
            color: $mainColor;
            @include fontSettings($mainFont, 24px, 600);
            line-height: 29px;
        }

        .moto-shop__controls-btnFind {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 10px 0 0;

            @media (max-width: 575px) {
                margin: 10px 0 20px 0;

            }
        }
    }

    &__supControls {

        &-nowDisplay {
            @media (max-width: 768px) {
                padding-bottom: 20px;
            }
        }

        position: relative;

        &::before {
            content: '';
            width: 98%;
            height: 3px;
            border-radius: 10px;
            background-color: black;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .error-shop {
        color: brown;
        display: flex;
        justify-content: center;
        margin: 10px 0;
        @include fontSettings($mainFont, 35px, 700);
        line-height: 50px;
    }
}