@import '../../scss/variables.scss';

.payment {
    display: flex;
    padding: 70px;

    @media (max-width: 1200px) {
        flex-direction: column;
        padding: 40px;
        width: 100%;

        @media (max-width: 500px) {
            padding: 20px;
        }
    }

    &__details {
        width: 50%;

        @media (max-width: 1200px) {
            order: 2;
            width: 100%;
        }

        .method {
            .title {
                @include fontSettings($mainFont, 36px, 400);
                line-height: 44px;
                padding-bottom: 30px;

                @media (max-width: 500px) {
                    padding-bottom: 20px;
                }
            }

            .method__ul {
                display: flex;
                flex-wrap: wrap;

                li {
                    margin-right: 40px;
                    @include fontSettings($mainFont, 24px, 400);
                    line-height: 29px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 5px;
                    transition: all .3s;


                    &:hover {
                        background-color: rgba(0, 0, 0, 0.3);
                    }

                    .custom-radio {
                        appearance: none;

                        width: 15px;
                        height: 15px;
                        margin-right: 10px;

                        border-radius: 100%;
                        transition: 0.3s;
                        border: 1px solid rgb(27, 36, 47);
                    }

                    .custom-radio:checked {
                        border: 4px solid $mainColor;
                        background-color: white;
                    }

                    label {

                        img {
                            width: 80px;
                            height: 30px;
                            object-fit: contain;
                            cursor: pointer;
                        }

                        span {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .details {
            margin-top: 80px;

            @media (max-width: 500px) {
                margin-top: 40px;
            }

            &>.title {
                @include fontSettings($mainFont, 36px, 400);
                line-height: 44px;
                padding-bottom: 20px;

            }

            .form {
                input::placeholder {
                    color: #5A5A5A;
                }

                // приховування стрілочок
                input[type='number']::-webkit-inner-spin-button,
                input[type='number']::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                .error {
                    color: brown;
                    font-size: 12px;
                }

                .inputsCont {
                    @include fontSettings($mainFont, 24px, 400);
                    line-height: 29px;

                    &>input {
                        width: 90%;


                        @media (max-width: 500px) {
                            width: 100%;
                        }
                    }

                    &:not(:last-child) {
                        margin-bottom: 20px;

                        @media (max-width: 500px) {
                            margin-bottom: 20px;
                        }
                    }
                }


                .twoInputs {
                    display: flex;
                    flex-wrap: wrap;

                    .left .title,
                    .right .title {
                        @include fontSettings($mainFont, 24px, 400);
                        line-height: 29px;
                        color: #5A5A5A;

                        @media (max-width: 500px) {
                            padding-bottom: 0;
                            font-size: 18px;
                            line-height: 21px;
                        }
                    }

                    .left {
                        width: 50%;

                        @media (max-width: 400px) {
                            width: 100%;
                        }

                        // position: relative;

                        // &::before,
                        // &::after {
                        //     content: '';
                        //     width: 1.5px;
                        //     height: 43px;
                        //     background-color: #5A5A5A;
                        //     position: absolute;
                        //     transform: rotate(25deg);

                        //     opacity: 0;
                        // }

                        // &::before {
                        //     top: 49px;
                        //     left: 50px;
                        // }

                        // &::after {
                        //     top: 49px;
                        //     left: 100px;
                        // }

                        input {
                            width: 166px;

                            @media (max-width: 400px) {
                                width: 100%;
                                margin-bottom: 20px;
                            }

                            // &::placeholder {

                            //     .left::before,
                            //     .left::after {
                            //         opacity: 1;
                            //     }
                            // }
                        }
                    }

                    .right {
                        width: 50%;

                        @media (max-width: 400px) {
                            width: 100%;
                        }

                        input {
                            width: 130px;

                            @media (max-width: 400px) {
                                width: 100%;
                            }
                        }
                    }
                }
            }

            .payment-regulations {
                @include fontSettings($mainFont, 20px, 400);
                line-height: 24px;
                padding-top: 70px;
                padding-bottom: 50px;
            }

            .btn-container {
                display: flex;
                flex-wrap: wrap;

                .cancel-btn {
                    @include fontSettings($mainFont, 23px, 700);
                    line-height: 23px;
                    padding: 17px 54px;
                    color: black;
                    border: 2px solid $mainColor;
                    border-radius: 10px;
                    transition: all .3s;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    margin-right: 60px;

                    &:hover {
                        background-color: $mainColorDarken;
                    }

                    @media (max-width: 650px) {
                        padding: 8px 20px;
                        margin-right: 30px;
                        font-size: 17px;
                        line-height: 20px;

                        @media (max-width: 360px) {
                            margin-bottom: 10px;
                        }

                        @media (max-width: 355px) {
                            margin-top: 20px;
                            order: 2;
                        }
                    }
                }

                .confirm-btn {
                    @include fontSettings($mainFont, 20px, 700);
                    line-height: 23px;
                    padding: 17px 62px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    @media (max-width: 650px) {
                        padding: 8px 20px;
                        font-size: 17px;
                        line-height: 20px;
                    }
                }
            }
        }


    }

    &__orderImg {
        width: 50%;
        display: flex;
        justify-content: end;
        position: relative;
        margin-bottom: 70px;

        @media (max-width: 1200px) {
            width: 100%;
            height: 600px;

            @media (max-width: 700px) {
                height: 500px;
            }
        }


        .img {
            width: 80%;
            height: 100%;
            object-fit: cover;
            border-radius: 30px;
            box-shadow: 2.5px 3.7px 10px black;

            @media (max-width: 1200px) {
                width: 100%;
            }
        }

        .order-details {
            position: absolute;
            background-color: $mainColor;
            bottom: 0;
            border-radius: 0 0 30px 30px;
            width: 80%;
            min-height: 30%;
            box-shadow: 0 -5px 10px 15px rgba(255, 255, 255, 0.3);
            background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, mix(rgba(0, 0, 0, 0), $mainColor, 10%) 50%, rgba(0, 0, 0, 1) 110%);
            color: black;
            display: flex;
            justify-content: end;
            flex-direction: column;
            padding: 0 20px 20px 20px;

            @media (max-width: 1200px) {
                width: 100%;
            }

            .title {
                @include fontSettings($mainFont, 30px, 700);
                line-height: 36px;
            }

            .supTitle {
                @include fontSettings($mainFont, 20px, 700);
                line-height: 24px;
                padding: 10px 0
            }

            .price {
                @include fontSettings($mainFont, 30px, 700);
                line-height: 36px;
                color: $mainColor;
                text-shadow: 0px 0px 10px black;
            }
        }
    }

}