@import '../../scss/variables.scss';

.alertSmileFace-cont {
    display: flex;
    justify-content: center;

    img {
        width: 100px;
        height: 100px;
    }
}

.payment {
    display: flex;
    padding: 50px 70px 70px 70px;

    @media (max-width: 1200px) {
        flex-direction: column;
        padding: 40px;
        width: 100%;

        @media (max-width: 500px) {
            padding: 20px;
        }
    }

    .order__details {
        width: 50%;

        @media (max-width: 1200px) {
            width: 100%;
        }

        .details {

            @media (max-width: 500px) {
                margin-top: 15px;
            }

            &>.title {
                @include fontSettings($mainFont, 36px, 400);
                line-height: 44px;
                padding-bottom: 10px;
            }

            .contact-details {
                background-color: mix(rgba(255, 255, 255, 0.5), $mainColor, 50%);
                box-shadow: 0 0 10px 5px $mainColor;
                padding: 20px;
                border-radius: 15px;
                margin-bottom: 30px;
            }

            .method {
                padding: 20px 0 10px 0;

                &>.title {
                    @include fontSettings($mainFont, 36px, 400);
                    line-height: 30px;
                    padding-bottom: 10px;
                    border-bottom: 1px solid black;
                    margin-bottom: 10px;
                }

                .method__ul {
                    display: flex;
                    flex-wrap: wrap;
                    // padding-bottom: 10px;

                    li {
                        margin-right: 40px;
                        @include fontSettings($mainFont, 24px, 400);
                        line-height: 29px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 5px;
                        padding: 5px;
                        transition: all .3s;


                        &:hover {
                            background-color: rgba(0, 0, 0, 0.3);
                        }

                        .custom-radio {
                            appearance: none;

                            width: 15px;
                            height: 15px;
                            margin-right: 10px;

                            border-radius: 100%;
                            transition: 0.3s;
                            border: 1px solid rgb(27, 36, 47);
                        }

                        .custom-radio:checked {
                            border: 4px solid $mainColor;
                            background-color: white;
                        }

                        label {

                            img {
                                width: 80px;
                                height: 30px;
                                object-fit: contain;
                                cursor: pointer;
                            }

                            span {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .card-data {
                background-color: mix(rgba(255, 255, 255, 0.5), $mainColor, 50%);
                box-shadow: 0 0 10px 5px $mainColor;
                padding: 20px;
                border-radius: 15px;
            }

            .form {

                input::placeholder {
                    color: #5A5A5A;
                }

                // приховування стрілочок
                input[type='number']::-webkit-inner-spin-button,
                input[type='number']::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                input.invalid {
                    border-bottom: 3px solid rgba(165, 42, 42, 0.8);
                }

                .error-string {
                    color: brown;
                    font-size: 12px;
                    line-height: 12px;
                }

                .inputsCont {
                    @include fontSettings($mainFont, 24px, 400);
                    line-height: 29px;

                    &>input {
                        width: 100%;
                    }

                    &:not(:last-child) {
                        margin-bottom: 20px;

                        @media (max-width: 500px) {
                            margin-bottom: 10px;
                        }
                    }
                }

                .twoInputs {
                    display: flex;
                    flex-wrap: wrap;

                    .left .title,
                    .right .title {
                        @include fontSettings($mainFont, 24px, 400);
                        line-height: 29px;
                        color: #5A5A5A;

                        @media (max-width: 500px) {
                            padding-bottom: 0;
                            font-size: 18px;
                            line-height: 21px;
                        }
                    }

                    .left {
                        width: 50%;

                        @media (max-width: 350px) {
                            width: 100%;
                        }

                        .inputs-cont {
                            display: flex;

                            input {
                                margin-right: 25px;

                                @media (max-width: 400px) {
                                    width: 100%;
                                    margin-bottom: 20px;
                                }
                            }

                            .input-mm,
                            .input-yy {
                                width: 58px;
                            }
                        }
                    }

                    .right {
                        width: 50%;

                        @media (max-width: 500px) {
                            display: flex;
                            align-items: center;
                            flex-direction: column;

                            @media (max-width: 350px) {
                                display: block;
                            }
                        }

                        input {
                            width: 60px;
                        }
                    }
                }
            }
        }
    }

    .payment__orderImg {
        width: 50%;
        display: flex;
        align-items: end;
        flex-direction: column;
        margin-bottom: 70px;

        @media (max-width: 1200px) {
            width: 100%;
            margin-top: 50px;
        }

        .preorder-details {
            width: 90%;
            height: 100%;
            min-height: 400px;
            position: relative;
            border-radius: 20px;

            @media (max-width: 1200px) {
                width: 100%;
            }

            .img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: -2;
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
            }

            .text-info {
                position: absolute;
                bottom: 0;
                left: 0;
                box-shadow: 0 -5px 10px 15px rgba(255, 255, 255, 0.3);
                background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, mix(rgba(0, 0, 0, 0), $mainColor, 20%) 50%, rgba(0, 0, 0, 1) 110%);
                border-radius: 0 0 20px 20px;
                padding: 0 20px 20px 20px;
                width: 100%;
                max-height: 60%;
                overflow: hidden;

                @media (max-width: 600px) {
                    max-height: 90%;
                }
                .title {
                    @include fontSettings($mainFont, 30px, 700);
                    line-height: 36px;
                    color: black;

                    @media (max-width: 360px) {
                        font-size: 20px;
                        line-height: 24px;
                    }
                }

                .supTitle {
                    @include fontSettings($mainFont, 20px, 700);
                    line-height: 24px;
                    padding: 10px 0;
                    color: black;

                    @media (max-width: 360px) {
                        font-size: 16px;
                        line-height: 20px;
                        padding: 5px 0;
                    }
                }

                .price {
                    @include fontSettings($mainFont, 30px, 700);
                    line-height: 36px;
                    color: $mainColor;
                    text-shadow: 0px 0px 10px black;
                }
            }

        }

        .payment-regulations {
            @include fontSettings($mainFont, 20px, 400);
            line-height: 24px;
            padding-top: 70px;
            padding-bottom: 50px;
            width: 90%;

            @media (max-width: 1200px) {
                width: 100%;
            }

            @media (max-width: 500px) {
                padding-top: 40px;
                padding-top: 20px;
            }
        }

        .btn-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width: 90%;

            @media (max-width: 1200px) {
                width: 100%;
            }

            .cancel-btn {
                @include fontSettings($mainFont, 23px, 700);
                line-height: 23px;
                padding: 17px 54px;
                color: black;
                border: 2px solid $mainColor;
                border-radius: 10px;
                transition: all .3s;
                display: flex;
                align-items: center;
                justify-content: center;

                &:hover {
                    background-color: $mainColorDarken;
                }

                @media (max-width: 650px) {
                    padding: 15px 30px;
                    font-size: 17px;
                    line-height: 20px;
                    margin: 10px;

                    @media (max-width: 368px) {
                        order: 2;
                    }
                }
            }

            .confirm-btn {
                @include fontSettings($mainFont, 20px, 700);
                line-height: 23px;
                padding: 17px 62px;
                display: flex;
                align-items: center;
                justify-content: center;

                @media (max-width: 650px) {
                    padding: 15px 30px;
                    font-size: 17px;
                    line-height: 20px;
                }
            }
        }
    }

}