@import '../../scss/variables';

.header {
    background-color: $mainColor2;
    color: $mainColor;
    padding: 10px 0 10px 40px;
    display: flex;
    justify-content: space-between;

    &__logo {
        @include fontSettings($mainFont, 26px, 700);
        line-height: 31px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__wrap {
        display: flex;
        align-items: center;
    }

    &__nav {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .nav-item {
            padding: 10px 35px;
            position: relative;
            z-index: 2;
            transition: all 0.3s;

            &:hover {
                border-radius: 15px;
                background-color: rgba(0, 0, 0, 0.2);
            }

            &.active {
                // color: limegreen;
                // text-decoration: overline;

                &::before {
                    content: '';
                    position: absolute;
                    width: 68px;
                    height: 3px;
                    background-color: gray;
                    border-radius: 15px;
                    left: 50%;
                    bottom: -5.5px;
                    transform: translateX(-50%);
                    border-bottom: 0.3px dashed white;
                }

                &::after {
                    content: url(../../images/icons/mini_bike.png);
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    z-index: -1;
                    left: 50%;
                    bottom: 50%;
                    transform: translateY(50%);
                    transform: translateX(-100%);
                    transform: scaleX(-1);
                }
            }
        }
    }

    &__user {
        padding: 0 40px 0 40px;
        @include fontSettings($mainFont, 20px, 700);
        line-height: 25px;
        position: relative;

        .decoration {
            // clip-path: polygon(0 0, 100% 0, 74% 22%, 24% 22%);
            clip-path: polygon(49% 54%, 0 0, 100% 0);
            background-color: $mainColor;
            width: 70px;
            height: 20px;
            position: absolute;
            bottom: -17px;
            left: 50%;
            transform: translateX(-50%);
        }

        // .text {}

        .header__login {
            color: black;
        }
    }



    .for-dev {
        color: khaki;
        text-shadow: 0 0 10px yellow;
    }

    .disabled {
        color: crimson;
    }
}