@import '../../scss/variables';

.header {
    background-color: $mainColor2;
    color: $mainColor;
    padding: 10px 0 10px 40px;
    display: flex;
    justify-content: space-between;

    .decodedInfo-cont {
        position: fixed;
        top: 90px;
        right: 10px;
        padding: 10px 40px 10px 10px;
        border-radius: 2px;
        background-color: white;
        color: black;
        display: flex;
        z-index: 5;
        animation: shadowPulse 1s infinite linear;

        .loader {
            position: absolute;
            top: -25px;
            right: -30px;
            transform: scale(0.3);
        }

        @keyframes shadowPulse {
            0% {
                box-shadow: 0 0 2px 1.5px transparent,
                    0 0 0 0 transparent,
                    0 0 0 0 transparent;
            }
    
            10% {
                box-shadow: 0 0 2px 1.5px $mainColor,
                    0 0 3px 2.5px transparent,
                    0 0 3px 1.3px $mainColor;
            }
    
            100% {
                box-shadow: 0 0 2px 1.5px transparent,
                    0 0 0 10px transparent,
                    0 0 0 10px transparent;
            }
        }
    }

    &__logo {
        @include fontSettings($mainFont, 26px, 700);
        line-height: 31px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__wrap {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
    }

    &__nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .shop-item {
            display: flex;
            align-items: center;
            position: relative;

            a:nth-child(1) {
                padding: 10px 55px 10px 35px;
            }

            a:nth-child(2) {
                position: absolute;
                right: 0;
                top: 0;
                padding: 7px 10px;
                transition: 0.3s all;

                &::before,
                &::after {
                    display: none;
                }

                &:hover,
                &.active {
                    background-color: rgba(255, 255, 255, 0.1);
                    border-radius: 5px;
                    color: $mainColor;
                    text-shadow: 0px 0px 10px white;
                }
            }
        }

        .nav-item {
            padding: 10px 35px;
            position: relative;
            z-index: 2;
            transition: all 0.3s;
            @include fontSettings($mainFont, 20px, 600);
            line-height: 24px;

            &:hover {
                border-radius: 5px;
                background-color: rgba(255, 255, 255, 0.2);
                color: $mainColor;
            }

            &.active {

                &::before {
                    content: '';
                    position: absolute;
                    width: 68px;
                    height: 3px;
                    background-color: gray;
                    border-radius: 15px;
                    left: 50%;
                    bottom: -3px;
                    transform: translateX(-50%);
                    border-bottom: 0.3px dashed white;
                }

                &::after {
                    content: url(../../images/icons/mini_bike.png);
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    z-index: -1;
                    left: 50%;
                    bottom: 50%;
                    transform: translateY(50%);
                    transform: translateX(-100%);
                    transform: scaleX(-1);
                }
            }
        }

        .header__nav-dropdown {
            position: relative;

            .dropdown-menu {
                background-color: $mainColor;
                border-radius: 0;
                padding: 0;

                .dropdown-item {
                    cursor: pointer;
                    transition: 0.3s;
                    padding: 10px;

                    &:hover {
                        background-color: $mainColorDarken;
                    }
                }

                li {
                    @include fontSettings($mainFont, 22px, 500);
                    line-height: 26px;
                    display: flex;
                    align-items: center;

                    &:not(:last-child) {
                        border-bottom: 1px solid black;
                    }
                }

                .lang-switcher {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-bottom: 5px;

                    .lang {
                        position: absolute;
                    }

                    .lang-ua {
                        top: 3px;
                        right: -40px;
                    }

                    .lang-en {
                        top: 3px;
                        left: -40px;
                    }
                }

                .exitButton {
                    color: crimson;
                    position: relative;
                    padding: 10px 0;

                    &:hover {
                        background-color: $mainColorDarken;
                    }
                }
            }
        }
    }

    &__user {
        padding: 0 30px 0 30px;
        @include fontSettings($mainFont, 20px, 700);
        line-height: 25px;
        position: relative;
        max-width: 250px;

        .decoration {
            clip-path: polygon(49% 54%, 0 0, 100% 0);
            background-color: $mainColor;
            width: 70px;
            height: 20px;
            position: absolute;
            bottom: -17px;
            left: 50%;
            transform: translateX(-50%);
        }

        .header__login-btn {
            color: black;
        }

        .text {
            max-height: 54px;
            overflow: hidden;
        }
    }
}

// ! adaptive ================================================================================================

@media (max-width: 1199px) {
    .header {
        padding: 10px;

        &__logo {
            @include fontSettings($mainFont, 20px, 700);
            line-height: 23px;
        }

        &__mobileBtn {
            background-color: $mainColor;
        }

        &__wrap {
            width: 100%;
            padding-top: 85px;
        }

        &__nav {
            width: 100%;
            display: flex;
            justify-content: space-around;
            align-items: center;

            .shop-item {
                width: 100%;
                display: flex;
                align-items: center;
                position: relative;

                a:nth-child(1) {
                    padding: 20px 35px;
                    width: 70%;
                    border-radius: 10px 0 0 0;
                }

                a:nth-child(2) {
                    border: 1px solid white;
                    width: 30%;
                    position: absolute;
                    right: auto;
                    left: 70%;
                    top: 1px;
                    padding: 16px;
                    text-align: center;
                    border-radius: 0 10px 0 0;

                    &.active {
                        border-radius: 0 10px 0 0;
                    }
                }
            }

            .nav-item {
                padding: 20px 35px;
                border-radius: 15px 15px 0 0;
                width: 100%;

                &:hover {
                    border-radius: 15px 15px 0 0;
                }

                &.active {
                    background-color: rgba(255, 255, 255, 0.1);

                    &::before {
                        width: 100%;
                        bottom: -3.5px;
                    }

                    &::after {
                        content: url(../../images/icons/mini_bike.png);
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        z-index: -1;
                        left: 50%;
                        bottom: 35%;
                        transform: translateY(50%);
                        transform: translateX(-100%);
                        transform: scaleX(-1);
                    }
                }
            }

            .header__nav-dropdown {
                position: relative;
                width: 100%;
                padding-top: 5px;

                .header__nav-dropdownBtn {
                    width: 100%;
                    background-color: $mainColor;
                    color: black;
                    border-radius: 0 0 15px 15px;
                }

                .dropdown-menu {
                    background-color: $mainColor;
                    border-radius: 0;
                    padding: 0;
                    width: 100%;

                    .dropdown-item {
                        padding: 10px;
                    }

                    li {
                        @include fontSettings($mainFont, 27px, 500);
                        line-height: 33px;

                        &:not(:last-child) {
                            border-bottom: 1px solid black;
                        }
                    }
                }
            }
        }

        &__user {
            @include fontSettings($mainFont, 23px, 700);
            position: absolute;
            top: 75px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            max-width: 100%;
            width: 100%;

            .text {
                max-height: 54px;
                overflow: 'hidden';
            }
        }
    }
}