@import '../../../scss/variables.scss';

.admProduct {
    min-height: 220px;
    margin: 10px 10px 30px 10px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid $mainColor2;
    @include fontSettings($mainFont, 20px, 400);
    line-height: 23px;

    &:nth-child(odd) {
        background-color: mix(rgba(255, 255, 255, 0), $mainColor, 80%);
    }

    &:nth-child(even) {
        background-color: mix(rgba(255, 255, 255, 0), $mainColor, 60%);
    }

    .col-4,
    .col-8 {
        padding-left: 0;
        padding-right: 0;
    }

    .error-string {
        color: brown;
        font-size: 12px;
        line-height: 12px;
        margin-left: 10px;
    }

    .img-cont {
        height: 100%;

        &>img {
            width: 100%;
            height: 300px;
            border-radius: 5px;
            object-fit: cover;
        }

        .mini-images-cont {
            position: relative;
            display: flex;
            justify-content: space-between;

            .img-active1,
            .img-active2,
            .img-active3 {
                display: none;
            }
        }

        .miniImgCont {
            position: relative;
            width: 32%;

            &>img {
                width: 100%;
                height: 100px;
                border-radius: 5px;
                object-fit: cover;
                margin: 10px 0;
            }

            &::before {
                content: attr(data-hover-text);
                position: absolute;
                left: 0px;
                background-color: mix(rgb(255, 255, 255, 0.4), $mainColor, 40%);
                width: 100%;
                height: 100%;
                border-radius: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s;
                @include fontSettings($mainFont, 25px, 700);
                line-height: 23px;
                transform: scale(0) rotate(360deg);

                @media (max-width: 600px) {
                    content: '✔';
                    width: 80%;
                    height: 80%;
                    left: 10px;
                    transform: scale(0) rotate(360deg);
                }
            }

            &:hover {
                cursor: pointer;

                &::before {
                    transform: scale(0.8) rotate(0deg);
                }
            }
        }
    }

    .info-cont {
        padding-left: 15px;
        
        @media (max-width: 600px) {
            overflow-x: scroll;
            width: 100%;
        }

        .item {
            margin-bottom: 3px;
            display: flex;
            align-items: center;

            .data-span {
                font-weight: 600;
                margin-left: 5px;
            }
        }

        .ifEditActive {
            padding-bottom: 10px;

            @media (max-width: 600px) {
                border-bottom: 1px solid black;
            }
        }

        .textarea-items {
            textarea {
                resize: vertical;
                height: 60px;
                max-height: 200px;
            }

            @media (max-width: 700px) {
                display: flex;
                flex-direction: column;

                i {
                    transform: rotate(90deg);
                    margin-bottom: 10px;
                }
            }
        }
    }

    .buttons-cont {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: end;
        height: 220px;

        @media (max-width: 600px) {
            font-size: 10px;
        }

        .delete {
            background-color: $errorColor;
            width: 140px;

            &:hover {
                background-color: mix(black, $errorColor, 15%);
            }
        }

        .edit {
            background-color: $succesColor;
            width: 160px;

            &:hover {
                background-color: mix(black, $succesColor, 15%);
            }
        }

        .view {
            background-color: $mainColor;
            width: 180px;

            &:hover {
                background-color: mix(black, $mainColor, 15%);
            }
        }

        .save {
            background-color: $succesColor;
            width: 180px;

            &:hover {
                background-color: mix(black, $succesColor, 15%);
            }
        }

        .delete,
        .edit,
        .view,
        .delete:hover,
        .edit:hover,
        .view:hover {
            transition: 0.3s;
        }

        .delete:hover,
        .edit:hover,
        .view:hover,
        .btn-readFull:hover {
            transition: 0.3s;
            text-shadow: 0 0 10px white;
        }

        .btn-readFull {
            background-color: mix(rgba(255, 255, 255, 0.3), $mainColor, 30%);
            padding: 10px 15px;
            width: 200px;

            &:hover {
                background-color: mix(black, $mainColor, 15%);
            }
        }
    }

}