@import './variables.scss';

*,
*:before,
*:after {
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
}

*:before,
*:after {
    z-index: -1;
}

$btn-width: 250px !default;
$btn-height: 80px !default;
$btn-full: $btn-height+$btn-width !default;
$btn-half: $btn-full/2 !default;
$bg-color: #eeeeee !default;

.ggg {
    width: 250px;
    height: 80px;
    text-decoration: none;
    color: black;
    border: 1px solid $mainColor;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

}

.btn-3 {
    $btn-color: $mainColor;
    $btn-color-dark: $mainColorDarken;

    &:before,
    &:after {
        content: '';
        @include TRBL(0, 0, 0, 0);
        border-top: $btn-height/2 solid $mainColorDarken;
        border-bottom: $btn-height/2 solid $mainColorDarken;
        opacity: 0;
    }

    &:before {
        border-right: $btn-height/2 solid transparent;
        transform: translateX(-100%);
    }

    &:after {
        border-left: $btn-height/2 solid transparent;
        transform: translateX(100%);
    }

    &:hover {

        &:before,
        &:after {
            opacity: 1;
        }

        color: tint($btn-color, 75%);

        &:before {
            transform: translateX(-30%);
        }

        &:after {
            transform: translateX(30%);
        }
    }
}


.btn-7 {
    $btn-color: $mainColor;
    $btn-color-dark: $mainColorDarken;
    color: black;

    &:before,
    &:after,
    span:before,
    span:after {
        content: '';
        @include position(absolute, 0, 0, 0, 0);
        // @include size(25.25%, 0);
        width: 25.25%;
        background-color: $btn-color-dark;
    }

    &:before {
        left: 0;
    }

    &:after {
        left: 50%;
    }

    span {

        &:before,
        &:after {
            top: auto;
            bottom: 0;
        }

        &:before {
            left: 25%;
        }

        &:after {
            left: 75%;
        }
    }

    &:hover {
        color: tint($btn-color, 75%);

        &:before,
        &:after,
        span:before,
        span:after {
            height: $btn-height;
        }
    }
}