
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

// $mainColor: rgb(211, 175, 55);
// $mainColorDarken: rgb(182, 145, 39);
$mainColor: #6d67e4;
$mainColorDarken: #413e89;
$mainColor2: #252C33;

$mainFont: Inter;

@mixin fontSettings($font-family, $font-size, $font-weight) {
    font-family: $font-family, sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
}