@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

$mainColor: rgb(211, 175, 55);
// violet
// $mainColor: #6d67e4;
$mainColorDarken: mix(black, $mainColor, 10%);


$mainColor2: #252C33;

$mainFont: Inter;

@mixin fontSettings($font-family, $font-size, $font-weight) {
    font-family: $font-family, sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
}

@mixin position($position, $top, $right, $bottom, $left) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

