@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

// * main yellow
$mainColor: #D3AF37;
$mainColorDarken: mix(black, $mainColor, 20%);


// * blue
// $mainColor: #10a19d;
// $mainColorDarken: mix(black, $mainColor, 30%);

// * darken blue 
// $mainColor: #6d67e4;
// $mainColorDarken: mix(black, $mainColor, 30%);

// * chartreuse
// $mainColor: chartreuse;
// $mainColorDarken: mix(black, $mainColor, 30%);

$mainColor2: #252C33;

$mainFont: Inter;

@mixin fontSettings($family, $size, $weight) {
    font-family: $family, sans-serif; 
    font-size: $size;
    font-weight: $weight;
}
